$default: #51DDFC;
$success: #63CC82;
$error: #E4757A;
$warning: #FD7856;
$info: #927BC1;
$title_nav_hover: #58E1C1;
$media_wid: 800px;
$primary_font: 'Roboto', sans-serif;
$primary_txt: #606060;
$primary_opacity: .9;
